{% extends "escola/base.html" %}

{% block content %}
<h2>Professores</h2>

<section>
    {% for professor in professores %}
    <article>
        <header>
            <h3>{{ professor.nome }}</h3>
            <p>Email: {{ professor.email }}</p>
        </header>

        <section>
            <h4>Cursos</h4>
                
            {% for curso in professor.cursos.all %}
                <div>
                    <h5>{{ curso.nome }}</h5>

                    <h6>Alunos</h6>
                    <ul>
                        {% for aluno in curso.alunos.all %}
                            <li>{{ aluno.nome }}</li>
                        {% empty %}
                            <li>Sem alunos inscritos</li>
                        {% endfor %}
                    </ul>
                </div>
            {% empty %}
                <p>Sem cursos atribuídos</p>
            {% endfor %}
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}
