{% extends "portofolio/base.html" %}

{% block content %}

<h2>Formações</h2>

<a href="{% url 'nova_formacao' %}">
    <button>Nova Formação</button>
</a>

{% for formacao in formacoes %}

<article>

    <header>
        <h3>{{ formacao.titulo }}</h3>
        <p>{{ formacao.instituicao }}</p>
    </header>

    <p>
        <strong>Período:</strong>
        {{ formacao.inicio }} - {{ formacao.fim }}
    </p>

    <p>{{ formacao.descricao }}</p>

    <a class="btn" href="{% url 'edita_formacao' formacao.id %}">
        Editar
    </a>

    <a class="btn btn-danger" href="{% url 'apaga_formacao' formacao.id %}">
        Apagar
    </a>

</article>

{% empty %}

<p>Não existem formações registadas.</p>

{% endfor %}

{% endblock %}