{% load static %}

<link rel="stylesheet" href="{% static 'portofolio/style.css' %}">
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Início</title>
</head>
<body>

<h1>Portfólio</h1>

<nav>
    <a href="{% url 'owner_detail' %}">Owner</a>
    <a href="{% url 'sobre' %}">Sobre</a>
    <a href="{% url 'formacao_list' %}">Formações</a>
    <a href="{% url 'uc_list' %}">UCs</a>
    <a href="{% url 'projeto_list' %}">Projetos</a>
    <a href="{% url 'tecnologias' %}">Tecnologias</a>
</nav>


</body>
</html>