{% extends "portofolio/base.html" %}

{% block content %}

<h2>Projetos</h2>

{% for projeto in projetos %}

<article>

    {% if projeto.imagem %}
        <img class="project-image" src="{{ projeto.imagem.url }}" alt="{{ projeto.titulo }}">
    {% endif %}

    <h3>{{ projeto.titulo }}</h3>

    <p>{{ projeto.descricao }}</p>

    <a class="btn" href="{% url 'projeto_detail' projeto.id %}">
        Ver Projeto
    </a>

</article>

{% empty %}

<p>Não existem projetos.</p>

{% endfor %}

{% endblock %}