{% extends "portofolio/base.html" %}

{% block content %}

<h2>Tecnologias</h2>

{% for tecnologia in tecnologias %}

<article>

    {% if tecnologia.logo %}
        <img class="logo" src="{{ tecnologia.logo.url }}" alt="{{ tecnologia.nome }}">
    {% endif %}

    <h3>{{ tecnologia.nome }}</h3>

    <p><strong>Tipo:</strong> {{ tecnologia.tipo }}</p>

    <p>{{ tecnologia.descricao }}</p>

    <p><strong>Nível:</strong> {{ tecnologia.nivel }}</p>

    <a class="btn" href="{{ tecnologia.website }}" target="_blank">
        Website
    </a>

</article>

{% endfor %}

{% endblock %}