
{% load static %}
<link rel="stylesheet" href="{% static 'portofolio/style.css' %}">

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>UC</title>
</head>
<body>

<h1>{{ uc.nome }}</h1>

{% if uc.imagem %}
<img src="{{ uc.imagem.url }}" width="300">
{% endif %}

<p>{{ uc.descricao }}</p>

<p>Ano: {{ uc.ano }}</p>
<p></p>
<p>Semestre: {{ uc.semestre }}</p>
<p>ECTS: {{ uc.ects }}</p>

<p>Licenciatura: {{ uc.licenciatura.nome }}</p>
<a href="{% url 'inicio' %}">Voltar ao Início</a>
</body>
</html>